/.github/                   export-ignore
/tests/                     export-ignore
/.php-cs-fixer.dist.php     export-ignore
/phpunit.xml                export-ignore
/phpstan.neon               export-ignore
/.gitignore                 export-ignore
/.gitattributes             export-ignore
/rector.php                 export-ignore